<div class="bg-white px-8 pt-6 pb-8 mb-4 width-full">
  <p class="mb-2">Welcome to our secure information transfer service! With our platform, you can securely share encrypted information using a simple link. Your data is protected with strong encryption, ensuring that only the intended recipient can access it.</p>
  <p>With our service, you can safely share sensitive information such as passwords, confidential documents, and more, knowing that it will only be accessible to the intended recipient for a limited time. Start sharing securely today!</p>
</div>
<div class="bg-white px-8 pt-2 pb-8 mb-4 width-full">
  <h1 class="text-center font-bold mb-8">How It Works</h1>
  <ul class="list-disc">
    <li class="mb-2">
      Enter the information you want to share and set an expiration time.
    </li>
    <li class="mb-2">
      Your data is encrypted using industry-standard encryption algorithms.
    </li>
    <li class="mb-2">
      Share the link and secret code with the recipient.
    </li>
    <li class="mb-2">
      After the set expiration time, the link expires, ensuring your data remains secure.
    </li>
    <li class="mb-2">
      You are able to burn the secret, which will delete it from our servers immediately. Once the secret is burned, it cannot be recovered, ensuring complete data security.
    </li>
    <li class="mb-2">
      When the intended recipient accesses the link, they will be prompted to enter the secret code to decrypt the information.
    </li>
    <li class="mb-2">
      Once the code is entered, the data is decrypted and displayed to the recipient, and the information is parmanemtly deleted from our servers making it inaccessible to anyone.
    </li>
  </ul>
</div>