
<div id="secret">

<h4 class="text-blue-500">Secret Information</h4>
<p class="text-gray-700">
  Share the link below with the password used when creating the secret to access the information.
</p>
<p class="bg-gray">
  <%= new_secret_access_url secret %>
</p>
</div>