<%= form_with url: secret_accesses_path(secret), method: 'post', html: {class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-lg'} do |form| %>
  <p class="mb-8 text-center">You have been passed secret information, please us the secret code to decode it</p>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
      Secret Code
    </label>
    <%= form.text_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <%= form.submit 'Decrypt', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
<% end %>
