<div id='secret'>
  <% if @secret.nil? %>
    <%= render 'shared/error_message', information: 'Secret has been burned or accessed' %>
  <% else %>
    <%= render 'form', secret: @secret %>
  <% end %>
</div>